<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:comment>
	Sollten hier Anpassungen vorgenommen werden, so müssen ebenfalls in folgendem Template Angepassungen vorgenommen werden:
	Resources/Private/Extensions/fluid_styled_content/Layouts/Default.html
</f:comment>

<f:spaceless>
	<f:comment>
		Siehe: fileadmin/theme/typoscript/pagets/cms/tce-defaults.ts
	</f:comment>

	<f:comment>Layout 1 => Fluid</f:comment>
	<f:comment>Layout 3 => Fluid + no gaps, links und rechts aber beibehalten</f:comment>
	<f:if condition="{data.layout} == 1">
		</div>
		<div class="container container--fluid container--no-gaps">
	</f:if>
	
	<f:if condition="{data.layout} == 3">
		</div>
		<div class="container container--fluid">
	</f:if>
	<f:comment>
		add classes of layout & grid options
			- smaller content width
			- paddings (before & after)
			- backgrounds
			- {data.flexform_contentVerticalCentered} option was replaced with {data.flexform_verticalAlignment} but is still in template for compatibility reasons
			- {data.flexform_gridRemoveGaps} -> remove gaps for grid (content--no-gaps)
			- {data.flexform_reverseOrderIfWrapped} -> reverse order of columns if they are wrapped (.content--wrap-reverse -> flex-wrap: wrap-reverse)
	</f:comment>
	<section class="content content-section{f:if(condition: '{data.layout} == 5', then: ' content--smaller')}{f:if(condition: '{data.space_before_class}', then: ' {data.space_before_class}')}{f:if(condition: '{data.space_after_class}', then: ' {data.space_after_class}')}{f:if(condition: '{data.frame_class} != \'default\'', then: ' background-{data.frame_class}')}{f:if(condition:'{data.flexform_contentVerticalCentered}', then: ' content--vertical-center')}{f:if(condition:'{data.flexform_verticalAlignment}', then: ' content--vertical-{data.flexform_verticalAlignment}')}{f:if(condition:'{data.flexform_gridRemoveGaps}', then: ' content--no-gaps')}{f:if(condition:'{data.flexform_reverseOrderIfWrapped}', then: ' content--wrap-reverse')}">
		<span class="anchor" id="c{data.uid}"></span>
		<f:if condition="{data._LOCALIZED_UID}">
			<span class="anchor" id="c{data._LOCALIZED_UID}"></span>
		</f:if>
		<f:if condition="{data.l10n_source}">
			<span class="anchor" id="c{data.l10n_source}"></span>
		</f:if>
		<f:render section="content" />
	</section>

	<f:if condition="{data.layout} == 1 || {data.layout} == 3">
		</div>
		<div class="container">
	</f:if>

</f:spaceless>
</html>
