<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
	  data-namespace-typo3-fluid="true">

<f:layout name="General" />

<f:comment>
<!--
	=====================
		News/Detail.html
-->
</f:comment>

<f:section name="content">
	
<f:if condition="{newsItem}">
	<f:then>
		<div class="news-detail{f:if(condition:newsItem.media,else:' news-detail--no-media')}" itemscope="itemscope" itemtype="http://schema.org/Article">		
            <n:format.nothing>
                <n:excludeDisplayedNews newsItem="{newsItem}" />
                <f:if condition="{newsItem.alternativeTitle}">
                    <f:then>
                        <n:titleTag>
                            <f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
                        </n:titleTag>
                    </f:then>
                    <f:else>
                        <n:titleTag>
                            <f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
                        </n:titleTag>
                    </f:else>
                </f:if>
                <f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
            </n:format.nothing>
            
            <f:comment>Heading & Date</f:comment>
            <header class="news-detail__header">
                <div class="news-detail__datecategory">
                    <f:spaceless>
                        <time class="news-detail__date" itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                            <f:format.date format="{f:translate(key:'LLL:EXT:t8_custom/Resources/Private/Language/locallang.xlf:dateFormat')}">{newsItem.datetime}</f:format.date>
                        </time>

                        <f:if condition="{newsItem.categories}">
                            &nbsp;|&nbsp; <ul class="news-detail__category">
                                <f:for each="{newsItem.categories}" as="category">
                                    <li class="news-detail__category__item">
                                        <span class="news-detail__category__item__text">{category.title}</span>
                                    </li>
                                </f:for>
                            </ul>
                        </f:if>
                    </f:spaceless>
                </div>
                <h2 itemprop="headline" class="news-detail__heading">
                    <span class="heading__text">{newsItem.title}</span>
                </h2>
            </header>

            <div class="news-detail__article">
                <f:comment>Teaser</f:comment>
                <f:if condition="{newsItem.teaser}">
                    <!-- teaser -->
                    <div class="news-detail__teaser" itemprop="description">
                        <p class="lead">
                            <f:format.nl2br>{newsItem.teaser}</f:format.nl2br>
                        </p>
                    </div>
                </f:if>

                <f:comment>Gallery</f:comment>
                <f:if condition="{newsItem.media}">
                    <n:renderMedia news="{newsItem}" imgClass="img-responsive" videoClass="video-wrapper" audioClass="audio-wrapper">
                        <div class="news-detail__media">
                            <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
                        </div>
                    </n:renderMedia>
                </f:if>

                <f:comment>Bodytext</f:comment>
                <div class="news-detail__text ce-bodytext">
                    <f:format.html>{newsItem.bodytext}</f:format.html>
                    <f:if condition="{newsItem.author}">
                        <p class="news-detail__text__author"><f:translate key="LLL:EXT:t8_custom/Resources/Private/Language/locallang.xlf:newsSource" /> {newsItem.author}<f:if condition="{newsItem.authorEmail}">, <f:link.email email="{newsItem.authorEmail}" /></f:if></p>
                    </f:if>
                </div>
            </div>

            <f:comment>Related Files & Links</f:comment>
            <div class="news-detail__more">                
                <f:if condition="{newsItem.relatedLinks} || {newsItem.falRelatedFiles}">
                    <f:then>
                        <div class="news-detail__relatedlinks links">
                            <f:if condition="{newsItem.falRelatedFiles} || {newsItem.relatedLinks}">
                                <ul class="links__list">
                                    <f:for each="{newsItem.falRelatedFiles}" as="file" iteration="iterator">
                                        <li class="links__item links__item--file">
                                            <a class="links__link links__link--file" href="{file.originalResource.publicUrl}" title="{f:if(condition:file.originalResource.title, then:file.originalResource.title, else:file.originalResource.name)}" target="_blank">
                                                <span class="links__text">{f:if(condition: file.originalResource.title, then: file.originalResource.title, else: file.originalResource.name) -> f:format.htmlspecialchars()}
                                                    <span class="links__text__extension">({file.originalResource.extension})</span>
                                                </span>
                                            </a>
                                            <f:if condition="{file.originalResource.description}">
                                                <span class="links__description">{file.originalResource.description}</span>
                                            </f:if>
                                        </li>
                                    </f:for>
                                    <f:for each="{newsItem.relatedLinks}" as="relatedLink" iteration="iterator">
                                        <li class="links__item">
                                            <f:link.typolink class="links__link" parameter="{relatedLink.uri}" title="{relatedLink.title}">
                                                <span class="links__text">{f:if(condition: relatedLink.title, then: relatedLink.title, else:relatedLink.uri)}</span>
                                            </f:link.typolink>
                                            <f:if condition="{relatedLink.description}">
                                                <span class="links__description">{relatedLink.description}</span>
                                            </f:if>
                                        </li>
                                    </f:for>
                                </ul>
                            </f:if>
                        </div>
                    </f:then>
                </f:if>

                <f:comment>Shariff</f:comment>
                <n:extensionLoaded extensionKey="rx_shariff">
                    <f:render partial="Detail/Shariff" />
                </n:extensionLoaded>

            </div>

            <f:comment>Related News</f:comment>
            <f:comment>
                Various options exist to fetch different related information:
                - {newsItem.allRelatedSorted}: all related news, related und related from, sorted by date
                - {newsItem.related}: all related
                - {newsItem.relatedSorted}: all related, sorted by date
                - {newsItem.relatedFrom}: all related from
                - {newsItem.relatedFromSorted}: all related from, sorted by date
            </f:comment>
            <f:if condition="{newsItem.allRelatedSorted}">
                <div class="news-detail__related content">
                    <div class="col12">
                        <h2 class="heading news-detail__related__heading"><span class="heading__text"><f:translate key="LLL:EXT:t8_jetpack/Resources/Private/Language/locallang.xlf:newsRelatedHeading" /></span></h2>
                    </div>
                    <f:for each="{newsItem.allRelatedSorted}" as="newsItemRelated" iteration="iterator">
                        <f:render partial="List/Item.html" arguments="{newsItem:newsItemRelated,settings:settings,iterator:iterator,contentObjectData:contentObjectData,selectedCategory:overwriteDemand.categories,col:'col4 col-medium-6 col-small-12'}" />
                    </f:for>
                </div>
            </f:if>                        
		</div>        
	</f:then>
	<f:else>
        <div class="news-detail" itemscope="itemscope" itemtype="http://schema.org/Article">
            <f:if condition="{settings.backPid}">
                <!-- Link Back -->
                <div class="news-detail__backlink-wrap">
                    <f:link.page class="news-detail__backlink link--arrow--back" pageUid="{settings.backPid}">
                        <f:translate key="LLL:EXT:t8_custom/Resources/Private/Language/locallang.xlf:backToOverview" />
                    </f:link.page>
                </div>
            </f:if>
            <div class="news-detail__article">
                <div class="message message--bad">
                    <p><f:translate key="LLL:EXT:t8_custom/Resources/Private/Language/locallang.xlf:newsDetailArticleNotFound" /></p>
                </div>
            </div>
        </div>
    </f:else>
</f:if>
</f:section>
</html>
