<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{media}">
    
    <div class="scrollslider imageslider">
        <div class="imageslider__images scrollslider__inner" data-pos="1">
            <f:for each="{media}" as="fileReference" iteration="iteration">
                <figure class="imageslider__figure{f:if(condition:'{fileReference.originalResource.type} == 3 || {fileReference.originalResource.type} == 4', then: ' imageslider__figure--video')}">
                    <div class="imageslider__image-wrap">
                        <f:if condition="{fileReference.originalResource.type} == 3 || {fileReference.originalResource.type} == 4">
                            <f:then>
                                <div class="video__video" data-preview="{f:uri.image(image:fileReference, height:'450')}">
                                    <f:media class="video__video__iframe" width="1600" height="900" alt="{fileReference.alternative}" title="{fileReference.title}" file="{fileReference}" />
                                </div>
                            </f:then>
                            <f:else>
                                <f:image class="imageslider__image" alt="{fileReference.alternative}" title="{fileReference.title}" src="{fileReference.uid}" height="450" treatIdAsReference="1" />
                            </f:else>
                        </f:if>
                    </div>

                    <f:if condition="{fileReference.description}">
                        <figcaption class="imageslider__caption">
                            <p class="paragraph">
                                {fileReference.description}
                            </p>
                        </figcaption>
                    </f:if>
                </figure>
            </f:for>
        </div>
        <f:if condition="{f:count(subject: media)} != 1">
            <f:then>
                <nav class="imageslider__arrows scrollslider__nav">
                    <ul class="imageslider__arrows__list">
                        <li class="imageslider__arrows__item scrollslider__btn scrollslider__btn--prev">
                            <span class="far fa-long-arrow-left"></span>
                        </li>
                        <li class="imageslider__arrows__item scrollslider__btn scrollslider__btn--next">
                            <span class="far fa-long-arrow-right"></span>
                        </li>
                    </ul>
                </nav>
            </f:then>
        </f:if>
    </div>

</f:if>
</html>
