<html xmlns:sms="http://typo3.org/ns/SMS/SmsResponsiveImages/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
	calculate image dimensions based on given values & selected image ratio
</f:comment>
<f:switch expression="{data.tx_t8_jetpack_imageratio}">
	<f:case value="1">
		<f:comment>1:1</f:comment>
		<f:if condition="{data.imagewidth}">
			<f:then>
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.width}', height:'{dimensions.width}'}" />
			</f:then>
			<f:else if="{data.imageheight}">
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.height}', height:'{dimensions.height}'}" />
			</f:else>
			<f:else>
				<f:variable name="calculatedImageDimensions" value="{width:'1600', height:'1600'}" />
			</f:else>
		</f:if>
	</f:case>
	<f:case value="2">
		<f:comment>4:3</f:comment>
		<f:if condition="{data.imagewidth}">
			<f:then>
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.width}', height:'{dimensions.width * 0.75}'}" />
			</f:then>
			<f:else if="{data.imageheight}">
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.height * 1.33}', height:'{dimensions.height}'}" />
			</f:else>
			<f:else>
				<f:variable name="calculatedImageDimensions" value="{width:'1600', height:'1200'}" />
			</f:else>
		</f:if>
	</f:case>
	<f:case value="3">
		<f:comment>16:9</f:comment>
		<f:if condition="{data.imagewidth}">
			<f:then>
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.width}', height:'{dimensions.width * 0.5625}'}" />
			</f:then>
			<f:else if="{data.imageheight}">
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.height * 1.77}', height:'{dimensions.height}'}" />
			</f:else>
			<f:else>
				<f:variable name="calculatedImageDimensions" value="{width:'1600', height:'900'}" />
			</f:else>
		</f:if>
	</f:case>
	<f:case value="4">
		<f:comment>3:4</f:comment>
		<f:if condition="{data.imagewidth}">
			<f:then>
				<f:variable name="calculatedImageDimensions" value="{width:'{data.imagewidth}', height:'{data.imagewidth * 1.33}'}" />
			</f:then>
			<f:else if="{data.imageheight}">
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.height * 0.75}', height:'{dimensions.height}'}" />
			</f:else>
			<f:else>
				<f:variable name="calculatedImageDimensions" value="{width:'1200', height:'1600'}" />
			</f:else>
		</f:if>
	</f:case>
	<f:case value="5">
		<f:comment>9:16</f:comment>
		<f:if condition="{data.imagewidth}">
			<f:then>
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.width}', height:'{dimensions.width * 1.77}'}" />
			</f:then>
			<f:else if="{data.imageheight}">
				<f:variable name="calculatedImageDimensions" value="{width:'{dimensions.height * 0.5625}', height:'{dimensions.height}'}" />
			</f:else>
			<f:else>
				<f:variable name="calculatedImageDimensions" value="{width:'900', height:'1600'}" />
			</f:else>
		</f:if>
	</f:case>
</f:switch>
<f:if condition="{data.imagewidth} && {data.imageheight}">
	<f:variable name="calculatedImageDimensions" value="{width:'{data.imagewidth}', height:'{data.imageheight}'}" />
</f:if>

<f:comment>
	render image
	> cropping image is not working with sms viewhelper (https://github.com/sitegeist/sms-responsive-images/issues/6)
	> if image should be cropped, {calculatedImageDimensions} is set in the upper f:switch section & image is rendered with f:viewhelper
	> if both, imagewidth and imageheight are set, {calculatedImageDimensions} is also set (bc image will be cropped) and the f:viewhelper is used
	> if image is cropped via backend or if it isn't cropped, sms viewhelper is used & responsive image is in html
</f:comment>
<f:if condition="{calculatedImageDimensions}">
	<f:then>
		<f:media
			class="gallery__image{f:if(condition: '{data.imageborder}', then: ' gallery__image--force-100-percent')}{f:if(condition: settings.tx_smsresponsiveimages.class, then: ' {settings.tx_smsresponsiveimages.class}')}"
			file="{file}"
			width="{calculatedImageDimensions.width}c"
			height="{calculatedImageDimensions.height}c"
			alt="{file.alternative}"
			title="{file.title}"
			loading="{settings.media.lazyLoading}" />
	</f:then>
	<f:else>
		<sms:media
			class="gallery__image{f:if(condition: '{data.imageborder}', then: ' gallery__image--force-100-percent')}{f:if(condition: settings.tx_smsresponsiveimages.class, then: ' {settings.tx_smsresponsiveimages.class}')}"
			file="{file}"
			width="{dimensions.width}"
			height="{dimensions.height}"
			alt="{file.alternative}"
			title="{file.title}"
			srcset="{settings.tx_smsresponsiveimages.srcset}"
			additionalAttributes="{loding:'{settings.media.lazyLoading}'}"
			placeholderSize="{settings.tx_smsresponsiveimages.placeholder.size}"
			placeholderInline="{settings.tx_smsresponsiveimages.placeholder.inline}"
			sizes="{settings.tx_smsresponsiveimages.sizes}"
			breakpoints="{settings.tx_smsresponsiveimages.breakpoints}"
			ignoreFileExtensions="{settings.tx_smsresponsiveimages.ignoreFileExtensions}"
		/>
	</f:else>
</f:if>

</html>