<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>

	if autoplay should work on all browsers, videos must be muted. can be done via mute attribute / plyr config

	if plyr config should be changed for autoplay videos, additionalAttribute data-plyr-config can be inserted.
	https://github.com/sampotts/plyr > see data-plyr-config

	syntax is a bit tricky with escaping "/' & {}
	example:
	<f:if condition="{file.properties.autoplay}">
		<f:then>
			<f:variable name="loop" value='"active": false' />
			<f:variable name="fullscreen" value='"enabled":false' />
			<f:variable name="open" value="{" />
			<f:variable name="close" value="}" />
			
			<f:variable name="plyrAutoplayConfig" value='"autoplay": true, "muted": false, "playsinline": true, "clickToPlay": true, "controls": [], "hideControls": true, "loop": {open}{loop}{close}, "fullscreen": {open}{fullscreen}{close}' />
			<f:variable name="plyrAutoplayConfig" value='"autoplay": true, "muted": false, "playsinline": true, "clickToPlay": true' />
			
			<f:media class="video__video__iframe" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" file="{file}" additionalAttributes="{data-plyr-config:'{open}{plyrAutoplayConfig}{close}',webkit-playsinline:'true',playsinline:'true'}" />
		</f:then>
	</f:if>
	
</f:comment>

<f:switch expression="{file.originalFile.extension}">    
	<f:case value="vimeo">
		<div class="video__video" data-preview="{f:uri.image(image:file, width:'{dimensions.width}', height:'{dimensions.height}')}">
			<f:media class="video__video__iframe" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" file="{file}" />
		</div>
	</f:case>
	<f:case value="youtube">
        <div class="video__video" data-preview="{f:uri.image(image:file, width:'{dimensions.width}', height:'{dimensions.height}')}">
			<f:media class="video__video__iframe" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" file="{file}" />
		</div>
	</f:case>
	<f:defaultCase>
		<f:media class="video__video" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" file="{file}" />
	</f:defaultCase>
</f:switch>
</html>

</html>