<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">
	<div class="gallery">
		<div class="gallery__content content">
			<f:for each="{gallery.rows}" as="row">
				<f:for each="{row.columns}" as="column">
					<f:if condition="{column.media}">
						<div class="{f:if(condition:'{gallery.count.columns} == 8', then:'col1--of-8 col-medium-3 col-small-6')}{f:if(condition:'{gallery.count.columns} == 7', then:'col1--of-7 col-medium-3 col-small-6')}{f:if(condition:'{gallery.count.columns} == 6', then:'col2 col-medium-4 col-small-6')}{f:if(condition:'{gallery.count.columns} == 5', then:'col1--of-5 col-medium-4 col-small-6')}{f:if(condition:'{gallery.count.columns} == 4', then:'col3 col-medium-6 col-small-12')}{f:if(condition:'{gallery.count.columns} == 3', then:'col4 col-medium-6 col-small-12')}{f:if(condition:'{gallery.count.columns} == 2', then:'col6 col-medium-6 col-small-12')}{f:if(condition:'{gallery.count.columns} == 1', then:'col12')}">
							<f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
						</div>
					</f:if>
				</f:for>
			</f:for>
		</div>
	</div>
</f:if>
</html>
