<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<f:if condition="{files}">
		<div class="files">
			<ul class="files__list">
				<f:for each="{files}" as="file" iteration="fileIterator">
					<li class="files__item">
						<a class="files__link" href="{file.publicUrl}" title="{f:if(condition:file.properties.title, then:file.properties.title, else:file.properties.name)}" target="_blank">
							<span class="files__text">
								<span class="files__name">{f:if(condition: file.properties.title, then: file.properties.title, else: file.name) -> f:format.htmlspecialchars()}</span>
								<f:if condition="{file.properties.description}">
									<span class="files__description">{file.properties.description}</span>
								</f:if>
							</span>
						</a>
					</li>
				</f:for>
			</ul>
		</div>
	</f:if>

</f:section>
</html>
