/* Header Height */
// calculate from logoheight / nav items height
// should be in em, don't use calc() here -> otherwise you will not be able to use calc with that variable
$headerMainHeight: 170px;

body {
	padding-top: $headerMainHeight;
	font-family: "Rubik", sans-serif;
}

.main, .footer {
	// Prevents horizontal scrollbars if background-grey is applied
	overflow: hidden;
}

/******************************************************
 * Silbentrennung (Hyphenopoly)
 ******************************************************/
.hyphenate {
	hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

.no-hyphenation {
 	hyphens: none;
 	-ms-hyphens: none;
 	-moz-hyphens: none;
 	-webkit-hyphens: none;
}

/******************************************************
 * Anker
 ******************************************************/
 .anchor {
	top: -$headerMainHeight;
}

/******************************************************
 * Headings
 ******************************************************/
h1, h2, h3, h4, h5, h6,
.heading--h1, .heading--h2, .heading--h3, .heading--h4, .heading--h5, .heading--h6 {
	font-weight: $font-weight-bold;
	line-height: 1.25;
	margin-bottom: .5em;
	margin-top: 1em;

	a, .link {
		color: inherit;
	}
}

p {
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 300;
  line-height: 24px;
}

// Headings
h1,
.heading--h1 {
	font-size: 75px;
	line-height: 1;
	color: $white;
	letter-spacing: 0;
}

h2,
.heading--h2 {
	font-size: 50px;
	color: $blue;
	line-height: 1.5;
	letter-spacing: 0;
}

p + h2, p + .heading--h2,
ul + h2, ul + .heading--h2,
ol + h2, ol + .heading--h2 {
	margin-top: 1.5em;
}

h3,
.heading--h3 {
	font-size: 30px;
	line-height: 75px;
	color: $orange;
}

p + h3, p + .heading--h3,
ul + h3, ul + .heading--h3,
ol + h3, ol + .heading--h3 {
	margin-top: 1.5em;
}

h4,
.heading--h4 {
	font-size: 25px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0;
}

h4 + p, .heading--h4 + p {
	margin-top: .5em;
}

h5,
.heading--h5 {}

h5 + p, .heading--h5 + p {
	margin-top: .25em;
}

h6,
.heading--h6 {}

h6 + p, .heading--h6 + p {
	margin-top: .25em;
}

/** Adjust Heading margins for some situations **/
/* Grid Heading */
.main .container > .content-section > header .heading {
	margin-bottom: 1.25em;
}

/* Subheadings */
.heading--sub,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
// Content Element Heading with Subheading from Bodytext
.ce-header + .ce-textpic > .ce-bodytext:first-child > [class^="heading--"]:first-child,
.ce-header + .ce-textpic > .ce-bodytext:first-child > h2:first-child,
.ce-header + .ce-textpic > .ce-bodytext:first-child > h3:first-child,
.ce-header + .ce-textpic > .ce-bodytext:first-child > h4:first-child,
.ce-header + .ce-textpic > .ce-bodytext:first-child > h5:first-child,
.ce-header + .ce-textpic > .ce-bodytext:first-child > h6:first-child {
	margin-top: 0.25em;
}

/* Less Margin on first Heading of a content element */
.content-section > .col12 > .ce-header > .heading:first-child, // Heading of Content Element (without parent)
.content-section > .ce-header .heading:first-child, // Grid Heading
// RTE Headings (when content element has no header)
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h1:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h2:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h3:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h4:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h5:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h6:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h1:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h2:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h3:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h4:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h5:first-child,
.content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h6:first-child,
// heading inside grid, grid without heading
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .ce-header > .heading:first-child,
// RTE Headings in Grids (when content element has no header)
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h1:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h2:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h3:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h4:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h5:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h6:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h1:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h2:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h3:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h4:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h5:first-child,
.content-section > .anchor ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h6:first-child {
	margin-top: 0.5em;
}

/* Heading in grid (when gridelement has container heading) */
// header
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .ce-header > .heading:first-child,
// first in rte (has no header)
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h1:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h2:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h3:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h4:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h5:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > h6:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h1:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h2:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h3:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h4:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h5:first-child,
.content-section > .ce-header ~ [class^="col"] > .content-section > .col12 > .anchor + .ce-textpic > .ce-bodytext:first-child > .heading--h6:first-child {
	margin-top: 0;
}


/******************************************************
 * Links
 ******************************************************/
a, .link {
	color: $font-color;
	text-decoration: none;

	background-image: repeating-linear-gradient(90deg, $font-color 0%, $font-color 100%);
	background-image: repeating-linear-gradient(90deg, currentColor 0%, currentColor 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 1px;
	transition: background-size 0.3s ease-in-out, color 0.15s ease-in-out;
	
	&:hover {
		background-size: 100% 1px;
	}
}

.anchor,
.link--arrow,
.link--arrow--back,
.navigation__link,
.header__logo-link,
.button,
.totop-button,
.gallery__link,
.files__link,
//h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
//.heading--h1 a, .heading--h2 a, .heading--h3 a, .heading--h4 a, .heading--h5 a, .heading--h6 a,
.navigation-pagination__link,
.navigation-pagination--search li a {
	background: none;
	color: inherit;
}

/******************************************************
 * hr, Trenner
 ******************************************************/
hr {
	border: 0;
	border-top:	1px solid rgba($grey-medium, 0.35);
	margin-top: 2em;
	margin-bottom: 1.5em;
}

/******************************************************
 * Buttons
 * Info: Kategorie-Button, DropDown, Submit
 ******************************************************/
.button {
	cursor: pointer;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	text-decoration: none;
	color: inherit;
	text-align: center;
	border: 1px solid $font-color;
	border-radius: 0;
	padding: 0.75em 1.5em;
	background-color: transparent;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	&:hover,
	&:focus,
	&--active {
		color: $white;
		background-color: $font-color;
	}
}

p .button {
	margin-top: 1.5em;
}

/******************************************************
 * Lists
 * CSS-Klasse .list NICHT formatieren
 ******************************************************/
.ce-bodytext, .news-detail__bodytext {
	ul, ol {
		padding-left: 1.25em;

		&:first-child {
			margin-top: 0;
		}
	}
}

.ce-bodytext, .news-detail__bodytext {
	ul {
		list-style: none;
		padding: 0;

		li {
			padding-left: calc(5px + 1.05em);
			margin: 0.45em 0;
			line-height: 1.65;

			&::before {
				content: "";
				display: inline-block;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: $font-color;
				color: inherit;
				margin-left: calc(-5px - 1.05em + 0.2em);
				margin-right: 0.85em;
				margin-bottom: 0.15em;
				vertical-align: baseline;
			}
		}
	}
}

/******************************************************
 * Paragraphs, Text Styles, RTE
 ******************************************************/
// Tabellen
.ce-bodytext table {}


/******************************************************
 * Section paddings
 ******************************************************/
@mixin setSectionPaddings($default, $more, $less) {
	.main .container > .content-section,
	.footer .container > .content-section {
		padding-bottom: $default;
		padding-top: $default;
	}

	.main .container > .content-section:not([class*="background-"]) + .content-section:not([class*="background-"]),
	.footer .container > .content-section:not([class*="background-"]) + .content-section:not([class*="background-"]) {
		padding-top: 0;
	}

	@each $backgroundselector, $backgroundcolor in $backgroundcolors {
		.main .container > .content-section.background-#{$backgroundselector} + .background-#{$backgroundselector},
		.footer .container > .content-section.background-#{$backgroundselector} + .background-#{$backgroundselector} {
			padding-top: 0;

			&.padding--more-top {
				padding-top: $more / 2;
			}
		}
	}

	.main .container > .content-section.padding--more-top,
	.footer .container > .content-section.padding--more-top {
		padding-top: $more;
	}

	.main .container > .content-section.padding--more-bottom,
	.footer .container > .content-section.padding--more-bottom {
		padding-bottom: $more;
	}

	.main .container > .content-section.padding--less-top,
	.footer .container > .content-section.padding--less-top {
		padding-top: $less;
	}

	.main .container > .content-section.padding--less-bottom,
	.footer .container > .content-section.padding--less-bottom {
		padding-bottom: $less;
	}
}
@include setSectionPaddings(3em, 5em, 0);

.main .container > .content-section,
.footer .container > .content-section {
	&.content--smaller {
		padding-left: calc((100% - #{$content-width-smaller})/2);
		padding-right: calc((100% - #{$content-width-smaller})/2);
	}
	
}

/* Vertical Alignment in Grid Settings */
.content--vertical-center > [class^="col"],
.content--vertical-center .content > [class^="col"] {
	display: flex;
	flex-direction: column;
	justify-content: center;

	> * {
		min-width: 100%;
		
		/*&.content-section:first-child {
			.ce-header .heading:first-child,
			.anchor + .ce-textpic > .ce-bodytext:first-child > *:first-child {
				margin-top: 0;
			}
		}
		&.content-section:last-child {
			.ce-textpic:last-child > .ce-bodytext:last-child > *:last-child {
				margin-bottom: 0;
			}
		}*/
	}
}
.main .container > .content-section.content--vertical-center > .anchor ~ [class^="col"] > .content-section > .col12 > .ce-header > .heading {
	margin-top: 0;
}

.content--vertical-bottom > [class^="col"],
.content--vertical-bottom .content > [class^="col"] {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	> * {
		min-width: 100%;

		&.content-section:last-child {
			.ce-textpic:last-child > .ce-bodytext:last-child > *:last-child {
				margin-bottom: 0;
			}
		}
	}
}


/* dark Backgrounds (white fonts)
.background-black {
	color: $white;

	h1, .heading--h1,
	h2, .heading--h2,
	h3, .heading--h3,
	h4, .heading--h4,
	h5, .heading--h5,
	h6, .heading--h6 {
		color: inherit;
	}

	a, .link {
		color: inherit;
		background-image: repeating-linear-gradient(0, $white 0px, $white 100%);
	}

	.anchor,
	.link--arrow,
	.link--arrow--back,
	.navigation__link,
	.header__logo-link,
	.button,
	.totop-button,
	.gallery__link,
	.files__link,
	//h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
	//.heading--h1 a, .heading--h2 a, .heading--h3 a, .heading--h4 a, .heading--h5 a, .heading--h6 a,
	.navigation-pagination__link,
	.navigation-pagination--search li a {
		background: none;
		color: inherit;
	}
}*/

/******************************************************
 * Header
 * Info: Top-Header (Logo, Metanavigation, Hauptnavigation, Banner)
 ******************************************************/
.header {
	&__main {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: $white;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		padding: 0 calc((100% - #{$grid-max-width} - #{$grid-gap-between-columns}) / 2);
		z-index: 10;

		border-bottom: 1px solid $black;
	}

	&__logo {
		//padding: 0.75em $grid-gap-between-columns/2;
		position: relative;
		top: -35px;

		&-link {
			display: block;
		}

		&__img {
			display: block;
			height: 92px;
		}
	}

	&__lang {
		width: 100%;
	}
}

.header__top {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-top: 15px;
}

/******************************************************
 * Navigation: Meta
 ******************************************************/
 .header__meta {
	 width: unset;
	 .navigation__meta {
		 display: flex;
		 justify-content: flex-end;
		 list-style-type: none;
		.navigation__item__meta  {
			.navigation__link {
				.navigation__text__meta {
					padding: 0 20px;
					font-size: 14px;
					line-height: 16px;
					padding: 5px 15px;
				}
			}
		}
	 }
 }

 /******************************************************
 * Navigation: Language
 ******************************************************/
 .header__lang {
	 width: unset;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	.navigation--language {
	   .navigation__list--language {
		   .navigation__item--language {
			   .navigation__link--language {
				   .navigation__text--language {
						font-size: 14px;
						line-height: 16px;
						font-weight: 400;
						transition: .3s all ease;
				   }

				   .navigation__text--active {
					   color: $orange;
				   }

				   &:hover .navigation__text{
						color: $orange;
				   }
			   }
		   }
	   }
	}
}

 /******************************************************
 * Navigation: Main
 ******************************************************/
.navigation {
	color: inherit;

	&__main {
		line-height: 1.5;
		margin: 0 -1.25em;
		padding: 0 $grid-gap-between-columns/2;
		height: 93px;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;

		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	&__link {
		display: block;
		color: inherit;
		transition: color 0.3s ease;
		position: relative;

		.navigation__text {
			&::after {
				content: "";
				position: absolute;
				width: calc(100% - 40px);
				border-bottom: 1px solid $orange;
				display: block;
				padding-top: 0px;
				left: 20px;
				transition: .3s all ease;
				margin: auto;
				opacity: 0;
			}
		}

		&:hover, &--active {
			color: $orange;
			.navigation__text {
				&::after {
					opacity: 1;
					padding-top: 15px;
				}
			}
			
		}
	}

	&__text {
		display: block;
		padding: 10px 20px;
		font-size: 20px;
		line-height: 24px;
	}

	/* Level 2 */
	&__item--has-children {
		position: relative;
	}
	&__level2 {
		display: none;
		position: absolute;
		top: auto;
		bottom: 0px;
		transform: translateY(100%);
		list-style: none;
		padding: 0.75em 0 1em 0;
		margin: 0;
		min-width: 100%;
		white-space: nowrap;

		.navigation__text {
			padding: 0.65em 1.25em;
		}
	}
	&__item:hover > .navigation__level2,
	&__item.hovered > .navigation__level2 {
		display: block;
	}

	/* Mobile */
	&__mobile {
		display: none;
	}

	/* Language Navigation */
	&--language {
		text-transform: uppercase;
		font-size: 0.85em;
		color: rgba($font-color, 0.65);
		margin: 0 -0.5em;
		padding: 0 $grid-gap-between-columns/2;
		line-height: 1.65;
		position: relative;
		top: 1px;

		.navigation {
			&__item {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				+ .navigation__item {
					&::before {
						content: "|";
						font-weight: $font-weight-normal;
						color: rgba($font-color, 0.65);
					}
				}
			}

			&__text {
				padding: 0.25em 0.5em;
				height: auto;

				&::after {
					content: none;
				}
			}

			&__link {
				&--active {
					color: $font-color;
					font-weight: $font-weight-bold;
				}
			}
		}
	}
}

/******************************************************
 * Navigation Pagination
 ******************************************************/
/* Navigation Pagination */
.navigation-pagination {
	margin: 3em 0;
	color: $grey-medium;
	transition: color 0.2s ease-in-out;

	&__list,
	& .pagination {
		list-style: none;
		margin: 0;
		padding: 0;

		margin-left: -.25em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	a {
		color: inherit;
	}

	&__text {
		padding: 0.25em 1em;
	}

	&__item--number + .navigation-pagination__item--number,
	& .pagination li + li {
		position: relative;

		&::before {
			content: "|";
			position: absolute;
			left: -1px;
			top: 50%;
			transform: translateY(-50%);
			color: $grey-medium;
			font-weight: $font-weight-normal;
		}
	}

	&__item--current, 
	&__item:not(.navigation-pagination__item--has-no-action):hover {
		color: $font-color;
	}

	&__item--current {
		font-weight: $font-weight-bold;
	}
}

/******************************************************
 * Banner
 ******************************************************/
.banner {
	&slider {
		position: relative;

		&__item {
			width: 100%;
			flex: none;
			position: relative;
			display: flex;
			align-items: stretch;
		}
	}

	&__image {
		&--v-center {
			&.banner__image--h-center {
				background-position: center center;
			}
			&.banner__image--h-left {
				background-position: left center;
			}
			&.banner__image--h-right {
				background-position: right center;
			}
		}
		&--v-bottom {
			&.banner__image--h-center {
				background-position: center bottom;
			}
			&.banner__image--h-left {
				background-position: left bottom;
			}
			&.banner__image--h-right {
				background-position: right bottom;
			}
		}
		&--v-top {
			&.banner__image--h-center {
				background-position: center top;
			}
			&.banner__image--h-left {
				background-position: left top;
			}
			&.banner__image--h-right {
				background-position: right top;
			}
		}
	}
}

/******************************************************
 * Dateiliste
 ******************************************************/
.files {
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;

		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	&__link {
		text-overflow: ellipsis;
		transition: color 0.25s ease-in-out;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;;
		padding: 0.25em 0;

		&:hover,
		&:focus {
			.files__name {
				background-size: 100% 1px;
			}
		}

		&::before {
			transform: none;
			border: none;
			position: static;
			width: auto;
			overflow: visible;
			transition: none;

			content: "\f15b";
			font-family: 'Font Awesome 5 Pro';
			font-weight: $fa-default-weight;
			display: inline-block;
			margin-right: 1em;
		    margin-top: 0.3em;
			font-size: 1.075em;

			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
		}

		@each $filesuffix, $filedescription, $fileicon in $filetypes {
			&[href$=".#{$filesuffix}"]::before {
				content: $fileicon;
			}
		}
	}

	&__description {
		display: block;
		font-size: 0.875em;
		line-height: 1.5;
		color: $grey-medium;
	}

	&__name {
		display: inline-block;
		line-height: 1.5;
		background-image: repeating-linear-gradient(90deg, $font-color 0%, $font-color 100%);
		background-image: repeating-linear-gradient(90deg, currentColor 0%, currentColor 100%);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 0 1px;
		transition: background-size 0.3s ease-in-out, color 0.15s ease-in-out;
	}
}


/******************************************************
 * Image Slider (based on jetpacks scrollslider)
 * (used in news detail template)
 ******************************************************/
.imageslider {
	position: relative;

	&__figure {
		margin: 0;
		padding-right: 1em;
		max-width: calc(100% + 1em);

		&:last-child {
			min-width: 100%;
		}

		&--video {
			width: 100%;
			box-sizing: content-box;
		}
	}

	&__image {
		margin-left: 0;
		height: auto;
	}

	&__caption {
		display: block;
		width: 0;
		min-width: 100%;
		position: static;
		background: transparent;
		padding: 0.75em 0 0.25em;
		font-size: 0.875em;
		color: inherit;

		p {
			margin-bottom: 0;
		}
	}

	&__arrows {
		&__list {
			list-style: none;
			padding: 0;
			margin: 0 -0.5em;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			margin-top: 1.5em;
			margin-bottom: 2em;
		}

		&__item {
			line-height: 1;
			padding: 0.375em 0.5em;
			cursor: pointer;
			transition: color 0.25s ease-in-out;
			
			+ .imageslider__arrows__item {
				margin-left: -1px;
			}

			&:hover {
				color: $font-color;
			}
		}
	}
}

/******************************************************
 * Footer
 ******************************************************/
.footer {
	border-top: 2px solid $grey;
	h2, h3, h4, h5, h6 {
		font-size: 30px;
		color: $grey;
		line-height: 75px;
	}

	.social-media-icons {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: -4px;

		&-facebook, &-linkedin, &-youtube {
			min-width: 50px;
			padding-left: 15px;

			img {
				max-width: 30px;
				max-height: 30px;
			}
		}
	}
}

/******************************************************
 * ToTop Button
 ******************************************************/
.totop-button {
	display: block;
	position: fixed;
	right: $grid-gap-between-columns / 2;
	bottom: $grid-gap-between-columns / 2;
	z-index: 10;
	width: 3.25em;
	height: 3.25em;
	border-radius: 50%;
	transform: translateX(5em);
	transition: all .3s all ease;
	background-color: rgb($orange, 1);
	opacity: .4;

	&::after {
		content: "\f062";
		font-family: "Font Awesome 5 Pro";
		font-size: 25px;
		color: $white;
		transition: .125s all ease;
		position: relative;
		top: 3px;
		left: 15px;
	}

	&:hover {
		opacity: 1;
	}

	&--visible {
		transform: translateX(0);
	}
}
