<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<figure class="gallery__figure gallery__figure--video video">
	<div class="video__item" style="{f:if(condition:data.imagewidth, then:'max-width:{data.imagewidth}px;')}{f:if(condition:data.imageheight, then:' max-height:{data.imageheight}px;')}">
		<f:render partial="Media/Rendering/Video" arguments="{file: file, dimensions: dimensions, settings: settings}" />
	</div>
	<f:if condition="{file.description}">
		<figcaption class="video__caption">
			<p>{file.description}</p>
		</figcaption>
	</f:if>
</figure>
</html>
