{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__input__wrap--datepicker {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_date powermail_fieldwrap_{field.marker}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="form__input__wrap form__input__wrap--datepicker">
		<f:form.textfield
			type="{field.datepickerSettingsOptimized}"
			id="powermail_field_{field.marker}"
			property="{field.marker}"
			value="{vh:Misc.PrefillField(field:field, mail:mail)}"
			additionalAttributes="{vh:Validation.DatepickerDataAttribute(field:field, value:'{vh:Misc.PrefillField(field:field)}', data-toggle:'datepicker', autocomplete:'off')}"
			class="form__input form__input--date powermail_date {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />

		<label class="form__label form__label--btn form__label--btn--datepicker" for="date"><span class="far fa-calendar-alt"></span></label>
	</div>
</div>