{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__fieldwrap--file {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_file powermail_fieldwrap_{field.marker}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<vh:Form.MultiUpload
			id="powermail_field_{field.marker}"
			property="{field.marker}"
			additionalAttributes="{vh:Validation.UploadAttributes(field:field,additionalAttributes:'{data-multiple-caption:\' #count# {f:translate(key: \\\'LLL:EXT:t8_jetpack/Resources/Private/Language/locallang.xlf:filesSelected\\\')}\'}')}"
			class="form__input form__input--file powermail_file {vh:Validation.ErrorClass(field:field, class: 'powermail_field_error')}" />

	<label for="powermail_field_{field.marker}" class="form__label form__label--file button"><span class="form__label__text"> {f:if(condition:'{field.description}', then: '{field.description}', else: '{field.title}')}</span></label>


	<f:if condition="{vh:Misc.PrefillField(field:field, mail:mail)}">
		<ul class="form__file-list powermail_fieldwrap_file_list">
			<f:for each="{vh:Misc.PrefillField(field:field, mail:mail)}" as="file">
				<li class="form__file-item">
					<b class="form__file-name">{file}</b>
					<f:form.hidden property="{field.marker}." value="{file}" />
				</li>
			</f:for>
			<li class="form__file-item">
				<span class="button button--danger"><f:translate key="deleteAllFiles">Delete All Files</f:translate></span>
			</li>
		</ul>
	</f:if>
</div>
