{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__fieldwrap--input {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_input powermail_fieldwrap_{field.marker}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<f:form.textfield
			type="{vh:Validation.FieldTypeFromValidation(field:field)}"
			pattern="{f:if(condition: '{vh:Validation.FieldTypeFromValidation(field:field)} == email', then: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$')}"
			property="{field.marker}"
			placeholder="{field.placeholder}"
			value="{vh:Misc.PrefillField(field:field, mail:mail)}"
			class="form__input {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')} powermail_input"
			additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
			id="powermail_field_{field.marker}" />
</div>
