{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__fieldwrap--password {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_password powermail_fieldwrap_{field.marker}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<f:form.password
		id="powermail_field_{field.marker}"
		property="{field.marker}"
		value=""
		additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field, additionalAttributes:{autocomplete: 'off'})}"
		class="form__input form__input--password powermail_password {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />
</div>

<div class="form__fieldwrap form__fieldwrap--password form__fieldwrap--password-mirror {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} owermail_fieldwrap powermail_fieldwrap_type_password powermail_fieldwrap_{field.marker}">

	<label for="powermail_field_{field.marker}_mirror" class="form__label form__label--mirror {f:if(condition: '{field.css} == \'nolabel\'', then: 'visuallyhidden ')} {settings.styles.framework.labelClasses}">
		<f:translate key="writePasswordAgain" /><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
	</label>

	<f:form.password
		id="powermail_field_{field.marker}_mirror"
		property="{field.marker}_mirror"
		value=""
		additionalAttributes="{vh:Validation.PasswordValidationDataAttribute(field:field, additionalAttributes:{autocomplete: 'off'})}"
		class="form__input form__input--password form__input--password-mirror powermail_password {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />
</div>
