{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__fieldwrap--textarea {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_textarea powermail_fieldwrap_{field.marker}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<f:form.textarea
			cols="20"
			rows="3"
			id="powermail_field_{field.marker}"
			property="{field.marker}"
			placeholder="{field.placeholder}"
			value="{vh:Misc.PrefillField(field:field, mail:mail)}"
			additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
			class="form__input form__input--textarea powermail_textarea {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}" />
</div>
