
<div class="form__fieldwrap form__fieldwrap--typoscript {f:if(condition: '{field.css}', then: 'col{field.css} col-medium-{field.css} col-small-12', else: 'col12')} {settings.styles.framework.fieldAndLabelWrappingClasses} powermail_fieldwrap powermail_fieldwrap_type_typoscript powermail_fieldwrap_{field.marker}">
	<div class="form__typoscript {settings.styles.framework.fieldWrappingClasses} {settings.styles.framework.offsetClasses}">
		<f:cObject typoscriptObjectPath="{field.path}" data="{field}" />
	</div>
</div>
